*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#our {
    padding: 80px;

    .container {

        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .our {

            h2 {
                font-weight: 700;
                font-size: 50px;
                font-family: 'Playfair Display', serif;
            }
            

        }

        .productC {

            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                border: none;
                padding: 15px;
                width: 315px;
                font-family: 'Playfair Display', serif;
                position: relative;
                overflow: hidden;
                img {
                    max-width: 100%;
                    height: auto;
                }
                
            
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width:100%;                
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: flex-end;
                    justify-content: right;
                    padding: 30px; 
                }
            
                &:hover .overlay {
                    opacity: 1;
                }
                
                .overlay{
                 
                    .icon {
                        background-color: rgba(255, 255, 255, 0.595);
                        border-radius: 50%;
                        font-size: 30px;
                         padding: 5px;
                        cursor: pointer;
                    }
                }
                .card-desc {
                    margin: 15px;

                    p {
                        font-weight: 800;
                        color: #333333c6;
                    }
                }
            }
        }
    }
}