* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #User {
    padding: 20px;
    background-color: #fff;
    border-left: 5px solid #5F021F;
    height: 100vh;
    overflow: auto;
  
    .table-container {
      margin: 20px 0;
      border: 2px solid #5F021F;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
  
      .MuiTable-root {
        min-width: 1200px;
        background-color: #fff;
  
        .MuiTableHead-root {
          background-color: #5F021F;
  
          .MuiTableCell-head {
            color: #fff;
            font-weight: bold;
            text-align: center;
          }
        }
  
        .MuiTableBody-root {
          .MuiTableRow-root {
            &:nth-of-type(odd) {
              background-color: #f2f2f2;
            }
  
            &:hover {
              background-color: #e0e0e0;
              transition: background-color 0.3s ease-in-out;
            }
  
            .MuiTableCell-body {
              text-align: center;
              color: #333;
  
              img {
                border-radius: 10px;
              }
  
              button {
                background-color: #5F021F;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
  
                &:hover {
                  background-color: #a31a32;
                }
              }
            }
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      padding: 10px;
  
      .table-container {
        .MuiTable-root {
          min-width: 100%;
  
          .MuiTableCell-head,
          .MuiTableCell-body {
            font-size: 0.8rem;
            padding: 10px;
          }
        }
      }
    }
  }
  