.successModal{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1111111111111111111111;
    transform: translate(-50%,-50%);
   
}
.resultModalInside{
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}