* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Register {
  padding: 80px;
  background-color: #f7f4eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  animation: fadeIn 0.5s ease-in-out;

  @media (max-width: 320px) {
    padding: 10px;
  }

  @media (min-width: 321px) and (max-width: 480px) {
    padding: 10px;
  }

  @media (max-width: 544px) {
    padding: 10px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .hideshow {
    width: 10%;
    border: none;
    color: white;
    font-size: 18px;
    background-color: #a3ce18;
    border-radius: 25px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #519e28f1;
      transform: scale(1.05);
    }
  }

  .register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 55px 105px;
    background-color: white;
    border: 2px solid #385f0284;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    @media (max-width: 320px) {
      padding: 30px;
    }

    @media (min-width: 321px) and (max-width: 480px) {
      padding: 30px;
    }
    
    @media (min-width: 481px) and (max-width: 768px) {
      padding: 30px;
    }

    .forma {
      margin: 0 auto;
      display: flex;
      gap: 10px;
      padding: 20px 50px;
      flex-direction: column;
      border: 1px rgba(171, 171, 171, 0.577) solid;
      animation: slideIn 0.5s ease-in-out;

      @media (max-width: 320px) {
        width: 100%;
        padding: 20px;
      }

      @media (min-width: 321px) and (max-width: 480px) {
        width: 100%;
        padding: 20px;
      }
      
      @media (min-width: 481px) and (max-width: 769px) {
        width: 100%;
        padding: 20px;
      }

      @keyframes slideIn {
        from {
          opacity: 0;
          transform: translateX(-20px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

      h3 {
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 55px;

        @media (max-width: 320px) {
          font-size: 30px;
        }

        @media (min-width: 321px) and (max-width: 480px) {
          font-size: 30px;
        }
        
        @media (min-width: 481px) and (max-width: 768px) {
          font-size: 30px;
        }
      }

      input {
        border: 1px rgba(171, 171, 171, 0.278) solid;
        display: flex;
        border-radius: 5px;
        padding: 15px 10px;
        width: 500px;

        @media (max-width: 320px) {
          width: auto;
        }

        @media (min-width: 321px) and (max-width: 480px) {
          width: auto;
        }
        
        @media (min-width: 481px) and (max-width: 768px) {
          width: auto;
        }
      }

      .iba {
        gap: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        button {
          width: 100%;
          border: none;
          color: white;
          font-size: 18px;
          background-color: #a3ce18;
          border-radius: 25px;
          padding: 10px 30px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #519e28f1;
            transform: scale(1.05);
          }
        }

        a {
          color: #a3ce18;
          text-decoration: none;
          text-align: center;
          font-size: 17px;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: #519e28f1;
          }
        }
      }
    }
  }
}
